.container[_ngcontent-upd-c0] {
  margin: 0.5em 2.5em 0.5em 2.5em;
}

main[_ngcontent-upd-c0] {
  z-index: 1;
  flex: 1;
}

header[_ngcontent-upd-c0] {
  z-index: 2;
}

@media screen and (min-width: 1296px) {
  #menu-un[_ngcontent-upd-c1] {
    display: inherit;
  }
}

@media screen and (min-width: 950px) and (max-width: 1295px) {
  .email-user[_ngcontent-upd-c1] {
    display: none;
  }
  #menu-un[_ngcontent-upd-c1] {
    margin-left: 2em !important;
    display: inherit;
  }
  #loggin[_ngcontent-upd-c1] {
    right: 2em !important;
  }
}

@media screen and (max-width: 949px) {
  #sous-menu-mon-compte[_ngcontent-upd-c1] {
    border: none !important;
    padding-left: 1em !important;
  }
  #button-burger[_ngcontent-upd-c1] {
    display: inherit !important;
    background-color: transparent;
    margin-left: 2em !important;
    border: 1px solid #ddd !important;
  }
  #menu-un[_ngcontent-upd-c1] {
    display: none;
    background: #fff;
    position: absolute;
    margin-top: 46px;
    height: auto;
    border: 1px solid #ddd;
    margin-left: 2em !important;
  }
}

@media screen and (max-width: 949px) and (max-width: 759px) {
  .email-user[_ngcontent-upd-c1] {
    font-size: 1em;
  }
  .icon.card[_ngcontent-upd-c1] {
    font-size: 1.5em;
    line-height: 1em;
  }
  #menu-un[_ngcontent-upd-c1] li[_ngcontent-upd-c1] a[_ngcontent-upd-c1] {
    width: 100%;
  }
  .icon-item[_ngcontent-upd-c1] {
    border: 1px solid #ddd !important;
    padding: 0.1em;
  }
  #loggin[_ngcontent-upd-c1] {
    right: 1.5em !important;
  }
}

@media screen and (max-width: 949px) and (max-width: 759px) and (max-width: 320px) {
  .email-user[_ngcontent-upd-c1] {
    display: none;
  }
}

.ui.grid[_ngcontent-upd-c1] {
  margin: 0;
}

.wide.column[_ngcontent-upd-c1] {
  padding: 0 !important;
  display: inherit !important;
}

.container[_ngcontent-upd-c1] {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

header[_ngcontent-upd-c1] {
  margin-bottom: 50px !important;
}

#logo[_ngcontent-upd-c1] {
  text-align: center;
  margin-top: 0.5em;
}

.resp-img[_ngcontent-upd-c1] {
  max-width: 80vw;
  max-height: 20vh;
}

#button-burger[_ngcontent-upd-c1] {
  display: none;
}

.btnHiddenAide[_ngcontent-upd-c1] {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.btnHiddenConnexion[_ngcontent-upd-c1] {
  padding: 0 !important;
  margin: 0 !important;
}

nav[_ngcontent-upd-c1] {
  margin-top: 1% !important;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  height: 46px;
  width: 100%;
}

ul.secondary.menu[_ngcontent-upd-c1] {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  float: left;
}

#loggin[_ngcontent-upd-c1] {
  position: absolute;
  right: 5em;
  height: 42px;
}

#menu-un[_ngcontent-upd-c1] {
  margin-left: 5em;
  z-index: 12;
}

#menu-un[_ngcontent-upd-c1] li[_ngcontent-upd-c1]:nth-child(-n + 4) {
  margin: 0;
}

li[_ngcontent-upd-c1],
p.item[_ngcontent-upd-c1] {
  list-style: none;
  padding: 0 !important;
  height: 100%;
}

.link-title[_ngcontent-upd-c1],
.link-sous-title[_ngcontent-upd-c1] {
  color: #666;
  font-weight: 700;
  line-height: 3em !important;
  height: 100%;
  padding: 0 1.5em 0 1.5em;
}

.icon[_ngcontent-upd-c1],
.email-user[_ngcontent-upd-c1] {
  color: #666;
}

.icon-item[_ngcontent-upd-c1] {
  margin: 0;
  height: 100% !important;
  width: 46px;
}

.icon-item[_ngcontent-upd-c1] i[_ngcontent-upd-c1] {
  width: 100%;
  margin: 0 !important;
  text-align: center;
}

.ui.menu[_ngcontent-upd-c1]
  .ui.dropdown[_ngcontent-upd-c1]
  .menu[_ngcontent-upd-c1]
  > .item[_ngcontent-upd-c1] {
  padding: 0 !important;
}

.ui.menu[_ngcontent-upd-c1]
  .ui.dropdown[_ngcontent-upd-c1]
  .menu[_ngcontent-upd-c1] {
  margin-top: 0;
}

#mon-compte[_ngcontent-upd-c1] {
  margin: 0;
  text-align: left;
}

.ui.accordion[_ngcontent-upd-c1] {
  width: 149.31px;
  width: 100%;
  background: none;
  border: none;
  box-shadow: none;
  z-index: 1;
}

.title.active[_ngcontent-upd-c1] {
  padding: 0;
  line-height: 3em;
}

#sous-menu-mon-compte[_ngcontent-upd-c1] {
  width: 149.31px;
  width: 100%;
  padding: 0;
  background: white;
  border: 2px solid #ddd;
}

.item[_ngcontent-upd-c1]:hover .link-title[_ngcontent-upd-c1],
.icon-item[_ngcontent-upd-c1]:hover,
.icon-item[_ngcontent-upd-c1]:hover i[_ngcontent-upd-c1],
li.ui.accordion[_ngcontent-upd-c1]:hover #title-sous-menu[_ngcontent-upd-c1] {
  transition: all 0.3s ease-in-out;
  background-color: #48758a !important;
  color: #fff !important;
  cursor: pointer;
}

li.ui.accordion[_ngcontent-upd-c1]:hover p[_ngcontent-upd-c1],
li.ui.accordion[_ngcontent-upd-c1]:hover .icon[_ngcontent-upd-c1] {
  color: #fff !important;
}

li.item[_ngcontent-upd-c1]:hover .dropdown.icon[_ngcontent-upd-c1] {
  color: #fff !important;
}

button#title-sous-menu[_ngcontent-upd-c1] {
  background: none;
  border: none;
  font-weight: 700;
  color: #666;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 3em !important;
  padding: 0 1.5em 0 1.5em;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.link-title.active-item[_ngcontent-upd-c1],
button#title-sous-menu.ici[_ngcontent-upd-c1] {
  background-color: #48758a;
  color: #fff;
}

button#title-sous-menu.ici[_ngcontent-upd-c1]
  .dropdown.icon[_ngcontent-upd-c1] {
  color: #fff !important;
}

#title-sous-menu[_ngcontent-upd-c1] {
  padding: 0;
  line-height: 3em;
  height: 42px;
}

.link-sous-title[_ngcontent-upd-c1] {
  width: 100%;
  padding: 0 0 0 0.5em;
}

.link-sous-title[_ngcontent-upd-c1]:hover {
  background: #f0f0f0;
}

.accesRapideButton[_ngcontent-upd-c1] {
  font-weight: bold;
  position: absolute;
  top: -200%;
  margin-top: 1%;
  margin-left: 1%;
  padding: 0.3%;
  cursor: pointer;
}

.accesRapideButton[_ngcontent-upd-c1]:link {
  text-decoration: none;
}

.accesRapideButton[_ngcontent-upd-c1]:focus {
  top: 0;
  left: 0;
}

.accesRapideButton[_ngcontent-upd-c1]:hover {
  background-color: #48758a;
  color: white;
}

.ui.nag[_ngcontent-upd-c1] {
  background-color: #db2828;
  color: white;
  position: -webkit-sticky;
  position: sticky;
}

.ui.nag[_ngcontent-upd-c1] > .close.icon[_ngcontent-upd-c1] {
  top: 25%;
}

#generic-error-message[_ngcontent-upd-c1] {
  margin-top: -50px;
}

.infoBulle[_ngcontent-upd-c1]::after {
  line-height: 0.5rem;
  font-size: small;
}

@media screen and (max-width: 500px) {
  .ui.very.wide.right.sidebar.vertical.menu[_ngcontent-upd-c2] {
    width: 100%;
  }
}

.btnHidden[_ngcontent-upd-c2] {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.size[_ngcontent-upd-c2] {
  font-size: 1.3em;
  color: #48758a;
}

.floater[_ngcontent-upd-c2] {
  float: right;
}

.blue[_ngcontent-upd-c2] {
  background-color: #4c7589;
  color: white;
}

.hider[_ngcontent-upd-c2] {
  padding: 5%;
  background-color: #48758a;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.hider[_ngcontent-upd-c2]:hover {
  background-color: #fff;
  color: #48758a;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #48758a;
}

.align[_ngcontent-upd-c2] {
  border: none !important;
}

.ui.styled.accordion[_ngcontent-upd-c2] {
  border: none !important;
}

.shortLabel[_ngcontent-upd-c2] {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.image[_ngcontent-upd-c2] {
  transition: all 0.8s ease-in-out;
  overflow-x: visible !important;
  width: 37% !important;
}

.helpImgModal[_ngcontent-upd-c2] {
  max-width: 100%;
}

.alert[_ngcontent-upd-c2] {
  color: #d52527;
}

.guillemet[_ngcontent-upd-c2] {
  color: #4c7589;
  font-weight: bold;
}

.format[_ngcontent-upd-c2] {
  float: left;
}

button.ui.button.weak.fluid[_ngcontent-upd-c2] img[_ngcontent-upd-c2] {
  float: left;
}

#exempleFPS[_ngcontent-upd-c2] {
  margin-bottom: 1rem;
}

#btn-reduce[_ngcontent-upd-c2] {
  width: 100%;
  text-align: left;
  border: none;
}

.exclamation.circle.icon[_ngcontent-upd-c2] {
  color: red;
}

#tooltip-aide[_ngcontent-upd-c2] {
  padding-top: 0.5rem;
}

button.title[_ngcontent-upd-c2] {
  border: none;
  background: none;
  text-align: left;
  background: #48758a;
  border: 2px solid #48758a !important;
  border-radius: 4px;
  padding: 0.75rem !important;
  margin: 0.5em 1em !important;
  width: 94%;
}

button.title[_ngcontent-upd-c2]:hover .shortLabel[_ngcontent-upd-c2] {
  color: #48758a !important;
}

button.title.active[_ngcontent-upd-c2]:focus,
button.title.active[_ngcontent-upd-c2] .shortLabel[_ngcontent-upd-c2] {
  color: #48758a !important;
  background: #fff;
}

[data-tooltip][_ngcontent-upd-c2]::after {
  white-space: pre-wrap;
  min-width: 500px;
}

@media screen and (max-width: 1300px) {
  #bloc-infos[_ngcontent-upd-c3] {
    border-right: none !important;
  }
  #bloc-infos-utile[_ngcontent-upd-c3] {
    width: 100% !important;
  }
  #nav-footer[_ngcontent-upd-c3] {
    width: 100% !important;
  }
}

@media screen and (max-width: 990px) {
  #nav-menu-general[_ngcontent-upd-c3] {
    padding-bottom: 0;
  }
  #nav-menu-general[_ngcontent-upd-c3] a[_ngcontent-upd-c3] {
    margin: 0;
  }
  #nav-menu-connecte[_ngcontent-upd-c3] {
    padding-top: 0;
  }
  #parti-un-footer[_ngcontent-upd-c3] {
    margin: auto;
  }
}

footer[_ngcontent-upd-c3] {
  margin-top: 50px;
}

#ul-mon-compte[_ngcontent-upd-c3] {
  padding-left: 0.5em !important;
}

#footer-infos[_ngcontent-upd-c3] {
  background-color: #757575;
  color: #fff;
  padding-top: 1em;
  font-size: 1em;
}

#parti-un-footer[_ngcontent-upd-c3] {
  margin: 0 0 1em 20%;
  padding: 0;
}

.footer-link[_ngcontent-upd-c3] {
  background-color: #262a33;
  color: #fff;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  font-size: 1em;
  margin: 0;
}

.footer-gouv-link[_ngcontent-upd-c3] {
  background-color: #1e3351;
  color: #fff;
  padding: 0.5em 0 0.5em 0;
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.footer-link[_ngcontent-upd-c3] li[_ngcontent-upd-c3],
.footer-gouv-link[_ngcontent-upd-c3] li[_ngcontent-upd-c3] {
  display: inline;
}

li[_ngcontent-upd-c3] {
  list-style: none;
}

a[_ngcontent-upd-c3],
.icon.circle[_ngcontent-upd-c3],
.icon.minus[_ngcontent-upd-c3] {
  color: #fff !important;
  margin: 3px;
}

.icon.minus[_ngcontent-upd-c3] {
  font-size: 0.6em;
}

a[_ngcontent-upd-c3]:hover {
  text-decoration: underline !important;
}

.titre-map[_ngcontent-upd-c3] {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
}

#menu-footer-secondaire[_ngcontent-upd-c3] {
  padding-left: 0;
}

#menu-footer-secondaire[_ngcontent-upd-c3] a[_ngcontent-upd-c3] {
  margin: 0;
}

#bloc-infos[_ngcontent-upd-c3] {
  margin-top: 0;
  border-right: 2px solid #fff;
}

.sitemap-link[_ngcontent-upd-c3] {
  padding: 0;
}

@media screen and (max-width: 500px) {
  .year[_ngcontent-upd-c3] {
    display: block !important;
  }
}

.alert[_ngcontent-upd-c5] {
  margin-bottom: 31.5px;
}

.alert.alert-section.alert-success[_ngcontent-upd-c5] {
  max-width: 76.4em;
  margin: 31.5px auto;
  color: #0c5e2e;
  background-color: #ddeed6;
}

.alert.alert-section[_ngcontent-upd-c5] {
  position: relative;
  padding: 1em 1em 1em 4em;
  border: 0;
}

.alert.alert-section.alert-error[_ngcontent-upd-c5] {
  max-width: 76.4em;
  margin: 31.5px auto;
  color: #0c5e2e;
  background-color: #dd401c;
}

.disp[_ngcontent-upd-c5] {
  text-align: center;
  max-width: 75%;
  margin-left: 10%;
}

.space[_ngcontent-upd-c5] {
  margin: 2% 0%;
}

.error[_ngcontent-upd-c5] {
  color: #9f3a38 !important;
  background-color: #fff6f6 !important;
  border: 1px solid #9f3a38 !important;
}

.button-hidden[_ngcontent-upd-c5] {
  border: none;
}

#ie-error-message[_ngcontent-upd-c6] {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.error[_ngcontent-upd-c7] {
  color: #9f3a38 !important;
  background-color: #fff6f6 !important;
  border: 1px solid #9f3a38 !important;
}

.border[_ngcontent-upd-c7] {
  border: 2px solid #cacaca;
  border-radius: 7px;
  padding: 3% 3% 2% 3%;
}

.margin[_ngcontent-upd-c7] {
  margin-top: 1em !important;
}

.margin-top[_ngcontent-upd-c7] {
  margin-top: 0.5em !important;
}

.circular[_ngcontent-upd-c7] {
  margin-left: 1em;
}

#recherche[_ngcontent-upd-c7] {
  padding: 1em 1em 0 1em;
}

.rechercheElement[_ngcontent-upd-c7] {
  padding: 0 !important;
}

.captcha[_ngcontent-upd-c7] {
  margin: auto;
}

.redBorder[_ngcontent-upd-c7] {
  border: 3px solid #9f3a38;
}

.code[_ngcontent-upd-c7] {
  margin-bottom: 1em !important;
}

span[_ngcontent-upd-c7] {
  font-weight: 200;
}

.img-responsive[_ngcontent-upd-c8] {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}

.icon[_ngcontent-upd-c8] {
  margin: 0 !important;
  color: #fff !important;
  opacity: 1 !important;
  font-size: 1.5em !important;
}

button[_ngcontent-upd-c8]:hover .icon[_ngcontent-upd-c8],
button[_ngcontent-upd-c8]:focus .icon[_ngcontent-upd-c8] {
  color: #48758a !important;
}

.reponse[_ngcontent-upd-c8] {
  padding-top: 0 !important;
}

.error[_ngcontent-upd-c8] {
  padding-top: 0.5em;
}

.errorIcon[_ngcontent-upd-c8],
.error[_ngcontent-upd-c8] {
  color: #9f3a38 !important;
}

.microLoading[_ngcontent-upd-c8] {
  max-width: 10%;
  margin-left: 5%;
}

.button[_ngcontent-upd-c8] {
  margin-bottom: 0.35em !important;
}

strong[_ngcontent-upd-c8] {
  color: #48758a;
  font-size: 1.07142857rem;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  #noms[_ngcontent-ilf-c9],
  #padding-noms[_ngcontent-ilf-c9],
  #telephone-field[_ngcontent-ilf-c9],
  .tel[_ngcontent-ilf-c9] {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  #respNomUsage[_ngcontent-ilf-c9],
  #respNomNaissance[_ngcontent-ilf-c9],
  div.noms.field.column[_ngcontent-ilf-c9],
  #bloc-date-naissance[_ngcontent-ilf-c9],
  #commune-naissance[_ngcontent-ilf-c9] {
    width: 100% !important;
    padding-top: 0.5em !important;
  }
  #labelNomUsage[_ngcontent-ilf-c9],
  #labelPrenom[_ngcontent-ilf-c9] {
    margin-top: 0.5em;
  }
  #bloc-mandataire-resp-ie[_ngcontent-ilf-c9],
  .date-naissance[_ngcontent-ilf-c9],
  #telephone-field[_ngcontent-ilf-c9] {
    width: 100% !important;
  }
  #infos-naissance[_ngcontent-ilf-c9] {
    margin-top: 0 !important;
  }
  #forme-juridique[_ngcontent-ilf-c9] {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 770px) {
  .input-fps[_ngcontent-ilf-c9] {
    width: 100% !important;
    display: block !important;
  }
  .radio.recours[_ngcontent-ilf-c9],
  #bloc-date-naissance[_ngcontent-ilf-c9],
  #commune-naissance[_ngcontent-ilf-c9] {
    width: 100% !important;
  }
}

.note[_ngcontent-ilf-c9] {
  font-size: 90%;
}

.ui.form[_ngcontent-ilf-c9] {
  margin-bottom: 20px;
}

.field[_ngcontent-ilf-c9] label.header[_ngcontent-ilf-c9],
#civilite[_ngcontent-ilf-c9],
legend[_ngcontent-ilf-c9] {
  font-size: 1em !important;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  margin: 0 0 0.28571429rem 0;
  display: block;
}

.ui.radio[_ngcontent-ilf-c9] {
  position: relative;
  display: inline-block;
}

.input-fps[_ngcontent-ilf-c9],
#infos-naissance[_ngcontent-ilf-c9] div.supp-padding[_ngcontent-ilf-c9] {
  padding: 0 !important;
}

.navigation-buttons[_ngcontent-ilf-c9] {
  padding-top: 1em;
  text-align: right;
}

.warning-message[_ngcontent-ilf-c9] {
  color: #9f3a38;
  margin: 0 !important;
}

.error-message[_ngcontent-ilf-c9] {
  color: #dd401c;
}

.error-messages[_ngcontent-ilf-c9] {
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  background-color: #fff6f6;
  color: #9f3a38;
}

#errorDateNaissance[_ngcontent-ilf-c9] {
  margin-top: 1em !important;
}

.qualite[_ngcontent-ilf-c9] {
  margin-left: 5% !important;
}

input.btn-fps-radio[_ngcontent-ilf-c9] {
  top: inherit !important;
  left: inherit !important;
}

#padding-noms[_ngcontent-ilf-c9] {
  padding-bottom: 0 !important;
}

#nom-pers-morale[_ngcontent-ilf-c9] {
  height: 20px;
}

#conditionsGenerales[_ngcontent-ilf-c9] {
  margin-top: 1em;
}

a[_ngcontent-ilf-c9] {
  color: #2d79c4;
}

.captcha-margin[_ngcontent-ilf-c9] {
  margin: auto;
}

.erorFps[_ngcontent-ilf-c9] {
  margin-bottom: 1em !important;
}

#te[_ngcontent-ilf-c9],
#fps[_ngcontent-ilf-c9] {
  width: 100%;
  margin-bottom: 1em;
}

.hidden[_ngcontent-ilf-c9] {
  display: none;
}

.redBorder[_ngcontent-ilf-c9] {
  border-radius: 0.5em;
  border: 3px solid #9f3a38;
  margin-bottom: 1em;
}

.remove.icon[_ngcontent-ilf-c9] {
  margin: 0 !important;
}

#btn-reset-date[_ngcontent-ilf-c9] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#erreur-date-naissance.warning-message[_ngcontent-ilf-c9],
#errorcommuneNaissance.warning-message[_ngcontent-ilf-c9],
#erreur-date-invalid.warning-message[_ngcontent-ilf-c9] {
  margin-top: 1em !important;
}

@media only screen and (max-width: 771px) {
  .ui.stackable.grid[_ngcontent-ilf-c11]
    > .column[_ngcontent-ilf-c11]:not(.row) {
    padding: 0.5rem 0 0.5rem 0 !important;
  }
  .note.cadre[_ngcontent-ilf-c11] {
    margin: 0;
  }
}

.ui.list[_ngcontent-ilf-c11]
  > .item[_ngcontent-ilf-c11]
  label.header[_ngcontent-ilf-c11],
.ui.relaxed.list[_ngcontent-ilf-c11]
  > .item[_ngcontent-ilf-c11]
  span.header[_ngcontent-ilf-c11] {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.ui.relaxed.list.password-form[_ngcontent-ilf-c11] {
  padding: 0;
}

.warning-message[_ngcontent-ilf-c11] {
  color: #9f3a38;
  margin: 0 !important;
}

.note[_ngcontent-ilf-c11] {
  font-size: 90%;
}

.cadre[_ngcontent-ilf-c11] {
  border: 2px solid #f0f0f0;
  border-radius: 7px;
  background-color: #254d64;
  color: white;
  padding: 5%;
  margin: 5% 5% 0% 0%;
}

.notif[_ngcontent-ilf-c11] {
  text-decoration: underline;
}

.bColor[_ngcontent-ilf-c11] {
  color: #faa518;
}

@media only screen and (max-width: 500px) {
  #noms[_ngcontent-ilf-c9],
  #padding-noms[_ngcontent-ilf-c9],
  #telephone-field[_ngcontent-ilf-c9],
  .tel[_ngcontent-ilf-c9] {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  #respNomUsage[_ngcontent-ilf-c9],
  #respNomNaissance[_ngcontent-ilf-c9],
  div.noms.field.column[_ngcontent-ilf-c9],
  #bloc-date-naissance[_ngcontent-ilf-c9],
  #commune-naissance[_ngcontent-ilf-c9] {
    width: 100% !important;
    padding-top: 0.5em !important;
  }
  #labelNomUsage[_ngcontent-ilf-c9],
  #labelPrenom[_ngcontent-ilf-c9] {
    margin-top: 0.5em;
  }
  #bloc-mandataire-resp-ie[_ngcontent-ilf-c9],
  .date-naissance[_ngcontent-ilf-c9],
  #telephone-field[_ngcontent-ilf-c9] {
    width: 100% !important;
  }
  #infos-naissance[_ngcontent-ilf-c9] {
    margin-top: 0 !important;
  }
  #forme-juridique[_ngcontent-ilf-c9] {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 770px) {
  .input-fps[_ngcontent-ilf-c9] {
    width: 100% !important;
    display: block !important;
  }
  .radio.recours[_ngcontent-ilf-c9],
  #bloc-date-naissance[_ngcontent-ilf-c9],
  #commune-naissance[_ngcontent-ilf-c9] {
    width: 100% !important;
  }
}

.note[_ngcontent-ilf-c9] {
  font-size: 90%;
}

.ui.form[_ngcontent-ilf-c9] {
  margin-bottom: 20px;
}

.field[_ngcontent-ilf-c9] label.header[_ngcontent-ilf-c9],
#civilite[_ngcontent-ilf-c9],
legend[_ngcontent-ilf-c9] {
  font-size: 1em !important;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  margin: 0 0 0.28571429rem 0;
  display: block;
}

.ui.radio[_ngcontent-ilf-c9] {
  position: relative;
  display: inline-block;
}

.input-fps[_ngcontent-ilf-c9],
#infos-naissance[_ngcontent-ilf-c9] div.supp-padding[_ngcontent-ilf-c9] {
  padding: 0 !important;
}

.navigation-buttons[_ngcontent-ilf-c9] {
  padding-top: 1em;
  text-align: right;
}

.warning-message[_ngcontent-ilf-c9] {
  color: #9f3a38;
  margin: 0 !important;
}

.error-message[_ngcontent-ilf-c9] {
  color: #dd401c;
}

.error-messages[_ngcontent-ilf-c9] {
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  background-color: #fff6f6;
  color: #9f3a38;
}

#errorDateNaissance[_ngcontent-ilf-c9] {
  margin-top: 1em !important;
}

.qualite[_ngcontent-ilf-c9] {
  margin-left: 5% !important;
}

input.btn-fps-radio[_ngcontent-ilf-c9] {
  top: inherit !important;
  left: inherit !important;
}

#padding-noms[_ngcontent-ilf-c9] {
  padding-bottom: 0 !important;
}

#nom-pers-morale[_ngcontent-ilf-c9] {
  height: 20px;
}

#conditionsGenerales[_ngcontent-ilf-c9] {
  margin-top: 1em;
}

a[_ngcontent-ilf-c9] {
  color: #2d79c4;
}

.captcha-margin[_ngcontent-ilf-c9] {
  margin: auto;
}

.erorFps[_ngcontent-ilf-c9] {
  margin-bottom: 1em !important;
}

#te[_ngcontent-ilf-c9],
#fps[_ngcontent-ilf-c9] {
  width: 100%;
  margin-bottom: 1em;
}

.hidden[_ngcontent-ilf-c9] {
  display: none;
}

.redBorder[_ngcontent-ilf-c9] {
  border-radius: 0.5em;
  border: 3px solid #9f3a38;
  margin-bottom: 1em;
}

.remove.icon[_ngcontent-ilf-c9] {
  margin: 0 !important;
}

#btn-reset-date[_ngcontent-ilf-c9] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#erreur-date-naissance.warning-message[_ngcontent-ilf-c9],
#errorcommuneNaissance.warning-message[_ngcontent-ilf-c9],
#erreur-date-invalid.warning-message[_ngcontent-ilf-c9] {
  margin-top: 1em !important;
}

@media screen and (max-width: 500px) {
  .ui.very.wide.right.sidebar.vertical.menu[_ngcontent-ilf-c2] {
    width: 100%;
  }
}

.btnHidden[_ngcontent-ilf-c2] {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.size[_ngcontent-ilf-c2] {
  font-size: 1.3em;
  color: #48758a;
}

.floater[_ngcontent-ilf-c2] {
  float: right;
}

.blue[_ngcontent-ilf-c2] {
  background-color: #4c7589;
  color: white;
}

.hider[_ngcontent-ilf-c2] {
  padding: 5%;
  background-color: #48758a;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.hider[_ngcontent-ilf-c2]:hover {
  background-color: #fff;
  color: #48758a;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #48758a;
}

.align[_ngcontent-ilf-c2] {
  border: none !important;
}

.ui.styled.accordion[_ngcontent-ilf-c2] {
  border: none !important;
}

.shortLabel[_ngcontent-ilf-c2] {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.image[_ngcontent-ilf-c2] {
  transition: all 0.8s ease-in-out;
  overflow-x: visible !important;
  width: 37% !important;
}

.helpImgModal[_ngcontent-ilf-c2] {
  max-width: 100%;
}

.alert[_ngcontent-ilf-c2] {
  color: #d52527;
}

.guillemet[_ngcontent-ilf-c2] {
  color: #4c7589;
  font-weight: bold;
}

.format[_ngcontent-ilf-c2] {
  float: left;
}

button.ui.button.weak.fluid[_ngcontent-ilf-c2] img[_ngcontent-ilf-c2] {
  float: left;
}

#exempleFPS[_ngcontent-ilf-c2] {
  margin-bottom: 1rem;
}

#btn-reduce[_ngcontent-ilf-c2] {
  width: 100%;
  text-align: left;
  border: none;
}

.exclamation.circle.icon[_ngcontent-ilf-c2] {
  color: red;
}

#tooltip-aide[_ngcontent-ilf-c2] {
  padding-top: 0.5rem;
}

button.title[_ngcontent-ilf-c2] {
  border: none;
  background: none;
  text-align: left;
  background: #48758a;
  border: 2px solid #48758a !important;
  border-radius: 4px;
  padding: 0.75rem !important;
  margin: 0.5em 1em !important;
  width: 94%;
}

button.title[_ngcontent-ilf-c2]:hover .shortLabel[_ngcontent-ilf-c2] {
  color: #48758a !important;
}

button.title.active[_ngcontent-ilf-c2]:focus,
button.title.active[_ngcontent-ilf-c2] .shortLabel[_ngcontent-ilf-c2] {
  color: #48758a !important;
  background: #fff;
}

[data-tooltip][_ngcontent-ilf-c2]::after {
  white-space: pre-wrap;
  min-width: 500px;
}

.ui.list[_ngcontent-ilf-c10]
  > .item[_ngcontent-ilf-c10]
  label.header[_ngcontent-ilf-c10],
.ui.grid[_ngcontent-ilf-c10] > .row[_ngcontent-ilf-c10],
.ui.relaxed.list[_ngcontent-ilf-c10]
  > .item[_ngcontent-ilf-c10]
  span.header[_ngcontent-ilf-c10] {
  margin: 0 0 0.28571429rem 0 !important;
}

.ui.relaxed.list.email-input[_ngcontent-ilf-c10] {
  margin: 0 !important;
  padding: 0 !important;
}

.warning-message[_ngcontent-ilf-c10] {
  color: #9f3a38;
  margin: 0 !important;
}

label.header[_ngcontent-ilf-c10] {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 0.92857143em !important;
  display: block !important;
  margin: 0 0 0.28571429rem 0 !important;
  text-transform: none !important;
}

.confirmation[_ngcontent-ilf-c10] {
  margin-top: 1em;
}

.cursor-default[_ngcontent-ilf-c10] {
  cursor: default !important;
}

@media only screen and (min-width: 990px) and (max-width: 1341px) {
  #num-rue[_ngcontent-ilf-c12],
  #nom-rue[_ngcontent-ilf-c12] {
    width: 100% !important;
  }
}

.ui.list[_ngcontent-ilf-c12]
  > .item[_ngcontent-ilf-c12]
  label.header.second-title[_ngcontent-ilf-c12] {
  margin-bottom: 1em;
  margin-top: 1em;
}

.ui.relaxed.list.adresse-form[_ngcontent-ilf-c12] {
  padding: 0;
}

.strong[_ngcontent-ilf-c12] {
  font-weight: 600;
}

.warning-message[_ngcontent-ilf-c12] {
  color: #9f3a38;
}

.complement-adresse[_ngcontent-ilf-c12] {
  margin: 0.75em 0 0.75em 0;
}

.rue[_ngcontent-ilf-c12] {
  padding-bottom: 0 !important;
}

#nom-rue[_ngcontent-ilf-c12] {
  padding-bottom: 1em !important;
}

label.header[_ngcontent-ilf-c12] {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 0.92857143em !important;
  display: block !important;
  margin: 0 0 0.28571429rem 0 !important;
  text-transform: none !important;
}

legend.header.second-title[_ngcontent-ilf-c12] {
  margin-bottom: 1em !important;
  font-size: 1em !important;
}
